@import url("ctt-module-design.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
/*font-family: 'Open Sans', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
/*font-family: 'Playfair Display', serif;*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
/*font-family: 'Lato', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*font-family: 'Montserrat', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700italic,700);
/*font-family: 'PT Serif', serif;*/
@import url(https://fonts.googleapis.com/css?family=Mate:400,400italic);
/*font-family: 'Mate', serif;*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,400italic,300italic,700,500italic,500,700italic);
/*font-family: 'Roboto', sans-serif;*/
.mce-container.mce-myAwesomeClass-panel {
	background-image: url('img/grey-loading-effect.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

/*.ctt__settings {text-align: center;}*/

.ctt__settings h3 {
	font-size: 2em;
}

#form-twapp {
	display: block;
	text-align: left;
}

#form-twapp .row {
	display: block;
	margin-bottom: 10px;
	text-align: left;
}

#form-twapp .row label {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}

#form-twapp .row input[type=text] {
	width: 30%;
	padding: 3px;
}

.ctt-mrsetting ul#ctt-tabmenu li {
	list-style: none;
	display: inline-block;
	margin-bottom: 0;
}

.ctt-mrsetting ul#ctt-tabmenu {
	padding: 0;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-bottom: 0;
}

.ctt-mrsetting ul#ctt-tabmenu li {
	list-style: outside none none;
	display: inline-block
}

.ctt-mrsetting ul#ctt-tabmenu li.active a,
.ctt-mrsetting ul#ctt-tabmenu li:hover a,
.ctt-mrsetting ul#ctt-tabmenu li.current a {
	padding: 10px;
	text-decoration: none;
	color: #fff !important;
	background: #00b9e6 none repeat scroll 0 0;
	border-radius: 2px 2px 0 0
}

.ctt-mrsetting ul#ctt-tabmenu li a {
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	color: #656565;
	background: #DDD none repeat scroll 0 0
}

.ctt-mrsetting .tab-content {
	display: none;
}

.dis-hint {
	width: 100%;
	display: block;
}

.dis-hint .set-output {
	width: 49%;
	float: left;
}

.dis-hint .set-settings {
	width: 49%;
	float: right;
	position: relative;
}

.dis-hint .set-settings .ctt-loader {
	background: rgba(255, 255, 255, 0.4) url("img/grey-loading-effect.gif") no-repeat scroll center center;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999999;
	display: none;
}

.dis-hint .set-settings .row, .dis-hint .set-settings .ctt_form_row {
	margin-bottom: 10px;
	display: block;
	width: 100%;
	float: left;
}

.dis-hint .set-settings label {
	float: left;
	width: 25%;
}

.set-output .col-preview {
	display: none;
}

#col-pe-1.col-preview {
	display: block;
}

/*
.mce-container.mce-myAwesomeClass-panel{ background-image:url('https://www.thinkful.com/learn/static/guides/intro-to-jquery/images/ryu_animated.gif');	background-repeat: no-repeat;	background-position: center center;	}
*/
.hbox-colvar a, .txt-color-opt a {
	height: 30px;
	width: 30px;
	float: left;
	margin: 4px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.hbox-colvar a.active, .hbox-colvar a:focus, .txt-color-opt a.active, .txt-color-opt a:focus {
	border: 4px solid #E4E4E4;
	margin: 0;
	box-shadow: none;
	transition: none;
}

.hbox-colvar a:focus, .txt-color-opt a:focus {
	box-shadow: none;
}

.txt-color-opt a.one {
	background: #00b9e6;
}

.txt-color-opt a.two {
	background: #000000;
}

.txt-color-opt a.three {
	background: #cccccc;
}

.hbox-colvar a.one {
	background: rgba(132, 255, 255, 0.5);
}

.hbox-colvar a.two {
	background: rgba(238, 255, 65, 0.5);
}

.hbox-colvar a.three {
	background: rgba(238, 238, 238, 0.5);
}

.wp-admin .set-settings select {
	-moz-appearance: none;
	appearance: none;
	background: #fff url(../images/down-arrow-1.png) no-repeat 98% 60% / 20px auto;
}

.wp-admin .set-settings select, .wp-admin .set-settings input[type="text"], .ctt-col-setting input[type="text"] {
	border-color: #8E9099;
	box-shadow: none;
	outline: 0;
}

.sctt-twt-integration, .ctt-col-setting {
	width: 49%;
	float: left;
}

.sctt-twt-integration {
	margin-right: 15px;
}

.sctt-twt-integration .button.button-primary, .ctt-col-setting .button.button-primary, .browser.button-hero {
	border: 0px none;
	padding: 4px 20px;
	border-radius: 2px;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
	color: rgb(255, 255, 255);
	background: rgb(0, 185, 230) none repeat scroll 0% 0%;
	text-shadow: none;
	height: auto;
	font-size: 13px;
	text-transform: uppercase;
}

.ctt-col-setting .row {
	margin: 0px auto 20px;
}

#twt-handler {
	width: 50%;
	padding: 10px;
	margin-top: 10px;
	display: block;
}

#short-url {
	margin: 0 20px;
}

.tw-ico {
	background: url("img/twitter-single.png") no-repeat center center / 100% auto;
	display: inline-block;
	width: 20px;
	height: 20px;
}